body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}


h1 {
  text-align: center;
  margin-bottom: 10px;
}


#current-date {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px auto 20px auto;
  color: #444;
}


/* riadky reštaurácií */

.menu-row {

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  max-width: 1600px;

  margin: 0 auto 20px auto;

}



.card {

  background: white;

  padding: 15px;

  border-radius: 10px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  box-sizing: border-box;

}



.card h2 {

  margin-top: 0;

  text-align: center;

}



.card h3 {

  margin-bottom: 5px;

}



.price {

  float: right;

  font-weight: bold;

}



.qv-image {

  width: 100%;

  height: auto;

  border-radius: 10px;

}



/* tablet */

@media (max-width: 1000px) {


  .menu-row {

    grid-template-columns: repeat(2, 1fr);

  }

}



/* mobil */

@media (max-width: 600px) {


  body {

    padding: 10px;

  }


  .menu-row {

    grid-template-columns: 1fr;

  }


}